@import url(http://fonts.googleapis.com/css?family=Oswald);

.ui .label .cliquee {
    color: #ef404a;
    font-family: 'Oswald', sans-serif;
}

.ui.button .cliquee {
    color: #ef404a;
    font-family: 'Oswald', sans-serif;
}

.ui.items .item > .content > p {
    clear: both;
}

.ui.items > .row > .item, .ui.items > .item {
    font-size: 0.8em;
    line-height: 1.2;
    min-height: 0px;
    cursor:auto !important;
}

.ui.items .item > a > .image >  img {
    display: block;
    width: 100%;
    height:110px;
}
.ui.items .item > a :hover{
    color: #00BAFF !important;
}
.ui.items .item > .content{
    overflow: auto;
    padding: 1rem !important
}


.name : hover{
    color: #00BAFF !important;
}

.ui.ribbon.label {
    left: -1.3rem;
    margin-bottom:5px;
    font-family: 'Oswald', sans-serif;
}

.name {
    font-size: 1.4em;
    font-family: 'Oswald', sans-serif;
    font-weight: normal !important;
    margin-bottom: 0.5rem;
}

/*


.ui.items .item,
.ui.items .item > a > .image,
.ui.items .item > a > .image .overlay,
.ui.items .item > a > .content,
.ui.items .item > a > .content > .meta,
.ui.items .item > a > .content > .extra {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

*/
/*--------------
      Images
---------------*//*


.ui.items .item > a > .image {
    display: block;
    position: relative;
    background-color: rgba(0, 0, 0, 0.05);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 0.2em;
}

.ui.items .item > a > .image > img {
    display: block;
    width: 100%;
    margin-top: 5px;
}

*/
/*--------------
     Content
---------------*//*


.ui.items .item > a > .content {
    padding: 0.75em 0.5em;
}


 */
.ui.items .item > .content > .description {
    clear: both;
    margin: 0em 0em;
    color: rgba(0, 0, 0, 0.75);
    font-size:1.0em;
    line-height:1.2;
}

.ui.five.items > .item {
    min-height: 550px;
}
/*
.ui.items .item > a > .content > .description p {
   margin: 0em 0em 0.2em;
}

.ui.items .item > a > .content > .description p:last-child {
   margin-bottom: 0em;
}

*/
/*--------------
      Meta
---------------*//*



.ui.items .item > a > .content > .meta + .name {
    float: left;
}
*/
.ui.items .item:hover {
 /*   -webkit-transform: scale(1.05); *//* Saf3.1+, Chrome *//*
    -moz-transform: scale(1.05); *//* FF3.5+ *//*
    -ms-transform: scale(1.05); *//* IE9 *//*
    -o-transform: scale(1.05); *//* Opera 10.5+ *//*
    transform: scale(1.05);*/
}

#top:hover{
/*    -webkit-transform: scale(1.1); *//* Saf3.1+, Chrome *//*
    -moz-transform: scale(1.1); *//* FF3.5+ *//*
    -ms-transform: scale(1.1); *//* IE9 *//*
    -o-transform: scale(1.1); *//* Opera 10.5+ *//*
    transform: scale(1.1);*/
}

.box-container{
    margin-bottom: 1rem;
}

.box-content{
    box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26) !important;
    margin: 0 !important;
    width: auto !important;
    background: white !important;
    padding: 0.5rem;

    -webkit-transition-property: box-shadow;
    -webkit-transition-duration: 0.2s;
    -webkit-transition-timing-function: linear;
    -webkit-transition-delay: 0s;
    /* Standard syntax */
    transition-property: box-shadow;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    transition-delay: 0s;
}

.box-content:hover{
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.26) !important;
    /* For Safari 3.1 to 6.0 */
    -webkit-transition-property: box-shadow;
    -webkit-transition-duration: 0.2s;
    -webkit-transition-timing-function: linear;
    -webkit-transition-delay: 0s;
    /* Standard syntax */
    transition-property: box-shadow;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    transition-delay: 0s;
}

.box-header{
    text-transform: uppercase !important;
    margin: 0 !important;
    font-size: 1rem !important;
    color: #073642;
    padding: 1em !important;
    z-index: 2;
}

#boxed-item{
    box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26) !important;
    background: white !important;
    padding: 0.5rem;
    /* For Safari 3.1 to 6.0 */
    -webkit-transition-property: box-shadow;
    -webkit-transition-duration: 0.2s;
    -webkit-transition-timing-function: linear;
    -webkit-transition-delay: 0s;
    /* Standard syntax */
    transition-property: box-shadow;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    transition-delay: 0s;
}
#boxed-item:hover{
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.26) !important;
    /* For Safari 3.1 to 6.0 */
    -webkit-transition-property: box-shadow;
    -webkit-transition-duration: 0.2s;
    -webkit-transition-timing-function: linear;
    -webkit-transition-delay: 0s;
    /* Standard syntax */
    transition-property: box-shadow;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    transition-delay: 0s;
}

.box-content > .ui.list {
   margin: 0 !important;
}

.fixed{
    position: fixed;
    z-index:2;
}

.first-boxs{
    margin-top:100px;
}

.box-content .ui.vertical.menu {
    width: 100% !important;
}

a > .ui .mini .statistic > .value:hover, .label:hover {
    color:#073642 !important;
    font-weight: bold !important;
}