.ui.items .item .like.label .icon .cliquee {
    color: #ef404a;
}

.ui.items .item > .content > p {
    clear: both;
}

.ui.items > .row > .item, .ui.items > .item {
    font-size: 0.8em;
    line-height: 1.2;
}


.ui.items > .row > .item, .ui.items > .item{
    min-height: 0px;
}

.ui.items .item > a > .image >  img {
    display: block;
    width: 100%;
    height:110px;
}

.ui.ribbon.label {
    left: -1.3rem;
    margin-bottom:5px;
}

.name {
    font-size: 1.4em;
}

/*


.ui.items .item,
.ui.items .item > a > .image,
.ui.items .item > a > .image .overlay,
.ui.items .item > a > .content,
.ui.items .item > a > .content > .meta,
.ui.items .item > a > .content > .extra {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

*/
/*--------------
      Images
---------------*//*


.ui.items .item > a > .image {
    display: block;
    position: relative;
    background-color: rgba(0, 0, 0, 0.05);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 0.2em;
}

.ui.items .item > a > .image > img {
    display: block;
    width: 100%;
    margin-top: 5px;
}

*/
/*--------------
     Content
---------------*//*


.ui.items .item > a > .content {
    padding: 0.75em 0.5em;
}


 */
.ui.items .item > .content > .description {
    clear: both;
    margin: 0em 0em;
    color: rgba(0, 0, 0, 0.75);
    font-size:1.0em;
    line-height:1.2;
}

.ui.five.items > .item {
    min-height: 550px;
}
/*
.ui.items .item > a > .content > .description p {
   margin: 0em 0em 0.2em;
}

.ui.items .item > a > .content > .description p:last-child {
   margin-bottom: 0em;
}

*/
/*--------------
      Meta
---------------*//*



.ui.items .item > a > .content > .meta + .name {
    float: left;
}
*/
.ui.items .item:hover {
    cursor: default;
}

#top:hover{
    -webkit-transform: scale(1.1); /* Saf3.1+, Chrome */
    -moz-transform: scale(1.1); /* FF3.5+ */
    -ms-transform: scale(1.1); /* IE9 */
    -o-transform: scale(1.1); /* Opera 10.5+ */
    transform: scale(1.1);
}


