@(page:String)(implicit user: Option[Utilisateur], lang: Lang)
<div class="ui inverted huge teal block header" id="header">
    <div class="ui inverted menu" style="background:none">
        <a href="@routes.Application.index()">
            <div class="header item" style="background:none">
                <h3 id="logo">Semantag</h3>
                <p class="blue" style="margin-top:0px">@Messages("header.slogan")</p>
            </div>
        </a>
        <div class="large basic inverted animated fade ui button">
            <div class="visible content">@Messages("header.buttonSubscribe")</div>
            <div class="hidden content">@Messages("header.buttonSubscribeHover")</div>
        </div>
        <div class="right item">
            <div class="field">
                <div class="ui action input">
                    <input style="min-width:250px" placeholder='@Messages("header.search")' type="text">
                    <div class="ui button"><i class="search icon"></i></div>
                </div>
            </div>
        </div>

        <div class="right item menu">
            <div class="top right pointing mobile dropdown link item">
                Menu
                <i class="dropdown icon"></i>
                <div class="menu">
                    @if(page=="presentation"){
                    <a class="active item">@Messages("header.presentation")</a>
                    } else{
                    <a class="item">@Messages("header.presentation")</a>
                    }
                    <a class="item">@Messages("header.entities")</a>
                    <a class="item">@Messages("header.stats")</a>
                    <a class="item">@Messages("header.subscribe")</a>
                    <a class="item">@Messages("header.connect")</a>
                </div>
            </div>
            @if(page=="presentation"){
            <a class="active item" href="@routes.Application.presentation()">@Messages("header.presentation")</a>
            } else{
            <a class="item" href="@routes.Application.presentation()">@Messages("header.presentation")</a>
            }
            <div class="ui dropdown link item">
                @Messages("header.stats")
                <i class="dropdown icon" style="display:inline"></i>
                <div class="menu">
                    <a class="item">@Messages("header.stats.today")</a>
                    <a class="item">@Messages("header.stats.thisWeek")</a>
                    <a class="item">@Messages("header.stats.thisMonth")</a>
                    <a class="item">@Messages("header.stats.fromBeginning")</a>
                </div>
            </div>
            @user match {
                case Some(usr) => {
                    <div class="item">
                     <p>Vous êtes connecté en tant que @usr.pseudo</p>
                     <a href="@routes.LoginLogout.logout" class="ui red button" > Se déconnecter !</a>
                    </div>
                }
                case None => {
                    <div class="item">
                       <div class="ui teal button"> <a  style="color :white;" href="@routes.LoginLogout.inscription">@Messages("header.subscribe")</a></div>
                        <div class="ui button"><a  style="none;" href="@routes.LoginLogout.connexion">@Messages("header.connect")</a></div>
                    </div>
                }
            }

        </div>
    </div>
</div>
<script src='@routes.Assets.at("javascripts/header.js")' type="text/javascript"></script>