@(page:String)(implicit user: Option[Utilisateur], lang: Lang)
<div class="ui inverted huge teal block header" id="header">
    <div class="ui inverted menu" style="background:none">
        <a href="@routes.Application.index()">
            <div class="header item" style="background:none">
                <h3 id="logo">Semantag</h3>
                <p class="blue" style="margin-top:0px">@Messages("header.slogan")</p>
            </div>
        </a>
        <div class="large basic inverted animated fade ui button">
            <div class="visible content">@Messages("header.buttonSubscribe")</div>
            <div class="hidden content" ><a href="@routes.LoginLogout.inscription">@Messages("header.buttonSubscribeHover")</a></div>
        </div>
        <div class="right item">
            <form action="@routes.Application.search" method="POST">
                <div class="field">
                    <div class="ui action input">
                        <input name="search" style="min-width:250px" placeholder='@Messages("header.search")' type="text">
                        <div class="ui button" style="cursor:inherit"><button type="submit" style="cursor:pointer; border:0; height:100%; width:100%"><i class="search icon"></i></button></div>
                    </div>
                </div>
            </form>
        </div>

        <div class="right item menu">
            <div class="top right pointing mobile dropdown link item">
                Menu
                <i class="dropdown icon"></i>
                <div class="menu">
                    @if(page=="presentation"){
                    <a class="active item">@Messages("header.presentation")</a>
                    } else{
                    <a class="item">@Messages("header.presentation")</a>
                    }
                    <a class="item">@Messages("header.entities")</a>
                    <a class="item">@Messages("header.stats")</a>
                    <a class="item">@Messages("header.subscribe")</a>
                    <a class="item">@Messages("header.connect")</a>
                </div>
            </div>
            @if(page=="presentation"){
            <a class="active item" href="@routes.Application.presentation()">@Messages("header.presentation")</a>
            } else{
            <a class="item" href="@routes.Application.presentation()">@Messages("header.presentation")</a>
            }

            @if(page=="statistiques"){
            <a class="active item" href="@routes.Application.statistiques()">@Messages("header.stats")</a>
            } else{
            <a class="item" href="@routes.Application.statistiques()">@Messages("header.stats")</a>
            }

            @user match {
            case Some(usr) => {
            <div class="item">
                <p>Vous êtes connecté en tant que @usr.pseudo</p>
                <a href="@routes.LoginLogout.logout" class="ui red button" > Se déconnecter !</a>
            </div>
            }
            case None => {
            <div class="item">
                <div class="ui teal button"> <a  style="color :white;" href="@routes.LoginLogout.inscription">@Messages("header.subscribe")</a></div>
                <div class="ui button"><a  style="none;" href="@routes.LoginLogout.connexion">@Messages("header.connect")</a></div>
            </div>
            }
            }

        </div>
    </div>
</div>
<script src='@routes.Assets.at("javascripts/header.js")' type="text/javascript"></script>