@()(implicit lang: Lang)
@main(Messages("index.title"))("accueil") {
<div class="ui grid" ng-controller="NewsRenderer">
    <div class="two wide column">
        <div class="sixteen wide column">
            <h3 class="ui header">Domaine</h3>
            <a style="cursor:pointer" ng-click="filtrage.domaine=''">Tout</a>
            <div class="sixteen wide column" ng-repeat="domaine in domaines['items']" style="font-family: 'Source Sans Pro'">
                <a style="cursor:pointer" ng-click="filtrage.domaine=domaine">{{domaine}}</a>
            </div>
        </div>
    </div>
    <div class="eleven wide column">
        <div class="ui five items">
            <div class="item" ng-repeat="item in news['items'] | filter:filtrage | orderBy:'consultationsJour':true | limitTo:limite">
                <a class="like ui corner label">
                    <i class="like icon"></i>
                </a>

                <a href="{{item['url']}}" target="_blank">
                    <div class="image">
                        <img src="{{item['image']}}">
                        <div class="ui ribbon label" style="margin-top:5px">{{item['domaine']}}</div>
                    </div>
                </a>

                <div class="meta" style="float:none">{{item['date'] | fromNow}}</div>
                <div class="content">
                    <a href="{{item['url']}}" target="_blank">
                        <div class="name">{{item['titre']}}</div>
                    </a>
                    <p style="font-weight:bold">{{item['site']}}</p>
                    <p class="description">{{item['description']}}</p>
                    <div class="extra">
                        <i class="unhide icon"></i> {{item['consultationsJour']}} |
                        <i class="heart icon"></i> {{item['coeurs']}} |
                        <i class="star icon"></i> {{item['note']}}
                    </div>
                </div>

                <p>
                    <i class="tags icon"></i>
                    <a href=""><span style="padding:2px;margin:2px;font-size:11px" ng-repeat="tag in item['tags']" class="ui label">
                            {{tag}}
                        </span> </a>
                </p>
                <p ng-show="item['lies']>1">
                    <a href=""> <i class="add icon"></i>{{item['lies']}} articles liés à ce sujet.</a>
                </p>
                <p ng-show="item['lies']==1">
                    <a href=""> <i class="add icon"></i>{{item['lies']}} article lié à ce sujet.</a>
                </p>
                <p ng-show="item['lies']==0">
                    <i class="add icon"></i>Pas d'article lié à ce sujet.
                </p>
            </div>
        </div>
        <div class="fluid ui button" ng-click="limite=limite+10" ng-show="limite<(news['items']| filter:filtrage).length">Plus</div>
    </div>
    <div class="three wide column">
        <h3 class="ui header">Top du jour</h3>
        <div class="ui divided ordered list">
            <div class="item" id="top" ng-repeat="item in tops['items'] | orderBy:'nombre':true">
                <img class="ui avatar image" src="{{item['image']}}" alt="">
                <div class="content">
                    <a class="header">{{item['nom']}}</a>
                    <div class="description">{{item['type']}}</div>
                    <div class="detail">{{item['nombre']}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
<link rel='stylesheet' media="screen" href='@routes.Assets.at("stylesheets/index.css")'>
<script src='@routes.Assets.at("javascripts/moment-with-langs.js")' type="text/javascript"></script>
<script src='@routes.Assets.at("javascripts/angular.min.js")' type="text/javascript"></script>
<script src='@routes.Assets.at("javascripts/index.js")' type="text/javascript"></script>
}