@()(implicit user: Option[Utilisateur], lang: Lang)
@main(Messages("mapage.title"))("mapage") {
<div class="ui grid" ng-controller="NewsRenderer">
    <div class="two wide column">
        <div class="sixteen wide column">
            <h3 class="ui header">Domaine</h3>
            <a style="cursor:pointer" ng-click="filtrage.domaine=''">Tout</a>

            <div class="sixteen wide column" ng-repeat="domaine in domaines['items'] | orderBy:'nom'"
                 style="font-family: 'Source Sans Pro'">
                <a style="cursor:pointer" ng-click="filtrage.domaine=domaine['nom']">{{domaine['nom']}}</a>
            </div>
        </div>
    </div>
    <div class="fourteen wide column">
        <div class="ui piled segment">
            <h3>@Messages("mapage.bienvenue")</h3>
            <br/>

            <p>@Messages("mapage.description")</p>
        </div>
        <div class="ui info message" ng-hide="afficher==0">
            <i class="close icon" ng-click="afficher=0"></i>

            <div class="header">
                Comment se déroule actuellement la recommandation
            </div>
            <p>Cette première version de la recommandation liste des articles liés aux entités préférées de
                l'utilisateur. Pour modifier cette liste, il faut déposer un coeur sur une entité. Pour ce faire, il
                suffit de cliquer sur l'entité pour accéder à sa page, puis de placer un coeur sur celle-ci (voir le
                coin supérieur droit de la photo de l'entité sur sa page personnalisée). Il est également possible de
                placer un coeur sur une entité à partir de la page de recherche. Une recherche s'effectue à l'aide de la
                barre de saisie située en haut à droite de chaque page.</p>

            <p>À noter, donc, qu'aucun article n'apparaîtra ci-dessous tant que vous n'aurez pas placé de coeur sur une
                entité.</p>

            <p>D'autres fonctionnalités sont prévues, mais cette première sélection permet de découvrir le potentiel du
                système de recommandation.</p>
            <h4>v1.0.1</h4>
        </div>
        <div ng-show="tailleListe == -1" class="ui segment" style="padding-top:50px">
            Récupération des articles susceptibles de vous intéresser...
            <div class="ui active center loader"></div>
        </div>

        <div ng-show="tailleListe == 0" class="ui primary inverted red segment" style="padding-top:50px">
            Aucun article ne peut actuellement vous être recommandé. Ajoutez un coeur à une ou plusieurs entités pour
            voir des articles apparaître sur cette page.
        </div>
        <div class="ui seven items">
            <div class="item" style="min-height: 600px;"
                 ng-repeat="item in news['items'] | filter:filtrage  | limitTo:limite">
                @user match {
                case Some(usr) => {
                <a class="like ui corner label" ng-click="gererCoeur('@usr.mail', item['url'])">
                    <i ng-class="{'like icon':item['coeurPresent'] == 0, 'like icon cliquee':item['coeurPresent'] == 1}"></i>
                </a>
                }
                case None => {
                }
                }

                <a href="{{item['url']}}" target="_blank">
                    <div class="image">
                        <img ng-show="{{item['image'].length>0}}" src="{{item['image']}}">
                        <img ng-show="{{item['image'].length==0}}" src='@routes.Assets.at("images/no-image.jpg")'>

                        <div class="ui ribbon label" style="margin-top:5px">{{item['domaine']}}</div>
                    </div>
                </a>

                <div class="meta" style="float:none">{{item['date'] | fromNow}}</div>
                <div class="content">
                    @user match {
                    case Some(usr) => {
                    <a href="{{item['url']}}" target="_blank" ng-click="enregistrerLecture('@usr.mail', item['url'])">
                        <div class="name">{{item['titre']}}</div>
                    </a>
                    }
                    case None => {
                    <a href="{{item['url']}}" target="_blank">
                        <div class="name">{{item['titre']}}</div>
                    </a>
                    }
                    }
                    <p style="font-weight:bold">{{item['site']}}</p>

                    <p class="description">{{item['description']}}</p>

                    <div class="extra">
                        <i class="unhide icon"></i> {{item['consultationsJour']}} |
                        <i class="heart icon"></i> {{item['coeurs']}}
                    </div>
                    <p>
                        <i class="tags icon"></i>
                        <span ng-repeat="tag in item['tags'] | limitTo:5" style="padding:2px;margin:2px;font-size:11px"
                              class="ui label"><a href="/entite/{{tag.id}}">{{tag.nom}}</a></span>
                        <span ng-show="item['tags'].length>5">... {{item['tags'].length-5}} de plus</span>
                    </p>

                    <p ng-show="item['lies']>1">
                        {{item['lies']}} articles liés à ce sujet.
                    </p>

                    <p ng-show="item['lies']==1">
                        1 article lié à ce sujet.
                    </p>

                    <p ng-show="item['lies']==0">
                        Pas d'article lié à ce sujet.
                    </p>

                    <p><a href="/displayart/{{item['id']}}"><i class="add icon"></i>Voir plus</a></p>
                </div>
            </div>
        </div>
        <div class="fluid ui button" ng-click="limite=limite + 7"
             ng-show="limite<(news['items']| filter:filtrage).length">Plus
        </div>
    </div>

</div>
<link rel='stylesheet' media="screen" href='@routes.Assets.at("stylesheets/index.css")'>
<script src='@routes.Assets.at("javascripts/moment-with-langs.js")' type="text/javascript"></script>
<script src='@routes.Assets.at("javascripts/angular.min.js")' type="text/javascript"></script>
<script src='@routes.Assets.at("javascripts/mapage.js")' type="text/javascript"></script>
}