@()(implicit user: Option[Utilisateur], lang: Lang)
@main(Messages("stats.title"))("statistiques") {
<div class="ui header segment">
    <h1 style="text-transform:uppercase; text-align:center; font-family: 'Oswald',sans-serif;">Statistiques</h1>
    </div>
</div>
<div ng-controller="StatsRenderer" class="sixteen column page stackable ui grid">
    <div class="sixteen wide column">

    </div>
    <div class="three wide column">
        <div class="box-container">
            <div class="box-header">
                Période
            </div>
            <div class="box-content">
                <div ng-show="liste['items'].length==0">
                    <p>Filtre en cours:</p>
                    <div  class="ui teal label">
                        {{currentPeriode}}
                    </div>
                </div>

                <div  ng-show="liste['items'].length>0" class="ui secondary vertical pointing menu">
                    <a ng-click="changePeriode('day')" ng-class="{'active item': periode=='day', 'item': periode!='day'}">
                        Aujourd'hui
                    </a>
                    <a ng-click="changePeriode('week')" ng-class="{'active item': periode=='week', 'item': periode!='week'}">
                        Cette Semaine
                    </a>
                    <a ng-click="changePeriode('month')" ng-class="{'active item': periode=='month', 'item': periode!='month'}">
                        Ce mois-ci
                    </a>
                    <a ng-click="changePeriode('all')" ng-class="{'active item': periode=='all', 'item': periode!='all'}">
                        Depuis le début
                    </a>
                </div>
            </div>
        </div>

        <div class="box-container">
            <div class="box-header">
                Variable
            </div>
            <div class="box-content">
                <div ng-show="liste['items'].length==0">
                    <p>Filtre en cours:</p>
                    <div  class="ui teal label">
                        {{currentVariable}}
                    </div>
                </div>

                <div  ng-show="liste['items'].length>0" class="ui secondary vertical pointing menu">
                    <a ng-click="changeVariable('apparitions')" ng-class="{'active item': variable=='apparitions', 'item': variable!='apparitions'}">
                        Apparitions
                    </a>
                    <a ng-click="changeVariable(('consultations')" ng-class="{'active item': variable=='consultations', 'item': variable!='consultations'}">
                        Consultations
                    </a>
                    <a ng-click="changeVariable('likes')" ng-class="{'active item': variable=='likes', 'item': variable!='likes'}">
                        Likes
                    </a>
                </div>
            </div>
        </div>

    </div>
    <div class="ten wide column" infinite-scroll="loadMore(100)">
        <div class="ui divided ordered animated list" style="padding-bottom:5rem !important; margin-bottom:5rem !important">
            <div class="item" ng-repeat="item in liste['items'] | limitTo:limite ">
                <div class="right floated">
                    {{item['nombre']}} <a><i ng-click="getPicture(item['id'], item['url'])" class="angle right icon"></i></a>
                </div>
                <div class="content">
                    <div class="header" style="text-align: center">
                        <a href="/entite/{{item['id']}}">{{item['nom']}}</a>
                    </div>
                </div>

            </div>
        </div>
        <div ng-show="liste['items'].length==0 || loading" class="ui segment" style="margin-top:-5rem !important">
            Récupération des données...
            <div class="ui active center loader"></div>
        </div>
    </div>
    <div class="three wide column" ng-show="showPic">
        <div class="ui piled segment" style="position:fixed; width: 250px">
            <h3 style="text-align: right"><a><i style="cursor:pointer" ng-click="hidePicture()" class="remove sign icon"></i></a> </h3>

            <div class="ui details dimmable" >
                <div class="ui dimmer">
                    <div class="content">
                        <div class="center">
                            <div class="ui mini green button">J'aime</div>
                            <a href="/entite/{{currentId}}" target="_blank" class="ui mini button">Détails</a>
                        </div>
                    </div>
                </div>
                <div ng-show="currentPic=='wait'" class="ui active center loader"></div>
                <img style="width:100%; max-height:300px" ng-show="currentPic!='noPic'" class="ui rounded image" src="{{currentPic}}" alt=""/>

            </div>
            <div class="content" style="width:100%">
                <h3 class="ui header">{{currentName}}</h3>
                {{currentEntityType}}
                <i class="heart icon"></i>{{currentLikes}}
            </div>
        </div>

    </div>
    <div class="three wide column" ng-show="!showPic">
        <div class="box-container">
            <div class="box-header">
                Type d'entité
            </div>
            <div class="box-content">
                <div ng-show="liste['items'].length==0">
                    <p>Filtre en cours:</p>
                    <div  class="ui teal label">
                        {{currentType}}
                    </div>
                </div>
                <div ng-show="liste['items'].length>0" class="ui icon input" style="display:block; width:100%">
                    <div class="ui search">
                        <input class="prompt" type="text" id="search-field" ng-model="searchText" placeholder='@Messages("stats.types.search")' >
                    </div>
                </div>
                <div ng-show="liste['items'].length>0" class="ui secondary vertical menu">
                    <a ng-click="changeType(-1, 'Tout')" ng-class="{'active item': idType==-1, 'item': idType!=-1}">
                        Tout
                    </a>
                    <a ng-repeat="type in types['items'] | filter:searchText" ng-click="changeType(type['id'], type['nom'])" ng-class="{'active item': idType==type['id'], 'item': idType!=type['id']}" >
                        {{type['nom']}}
                    </a>

                </div>
            </div>
      </div>
    </div>

</div>

<script>
    $('.details')
            .dimmer({
                on: 'hover'
            })
    ;
</script>

<link rel='stylesheet' media="screen" href='@routes.Assets.at("stylesheets/index.css")'>
<script src='@routes.Assets.at("javascripts/moment-with-langs.js")' type="text/javascript"></script>
<script src='@routes.Assets.at("javascripts/angular.min.js")' type="text/javascript"></script>
<script src='@routes.Assets.at("javascripts/ng-infinite-scroll.min.js")'></script>
<script src='@routes.Assets.at("javascripts/stats.js")' type="text/javascript"></script>
}